.card-content {
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
  transition: background-position 300ms ease;
}

.card:hover > .card-content {
  background-position: -20% -20%;
}

.card {
  display: inline-block;
  padding: 1rem;
  overflow: hidden;
  margin: 1rem 2rem;
  aspect-ratio: 1/1.2;
  position: relative;
  width: 40vmin;
  min-width: 40vmin;
  border: 2px solid rgba(128, 128, 128, 0.454);
  border-radius: 8px;
}

.card:before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    rgba(128, 0, 128, 1) 66%,
    rgba(255, 0, 0, 1) 83.5%,
    rgba(255, 255, 0, 1) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transition: background-position 350ms ease-in-out, transform 350ms;
}

.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.02, 1.01);
}
