.card-content {
}

.card {
  aspect-ratio: 1/1.6;
  position: relative;
  /*   background: radial-gradient(
    rgba(255, 255, 255, 0.2) transparent 8%); */
  background-color: black;
  border: 2px solid grey;
  /*   background-position */
  width: 5vmin;
  border: 2px solid grey;
}

.card:before {
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    purple 66%,
    red 83.5%,
    yellow 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  transition: background-position 300ms ease-in-out, transform 350ms;
}

.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.02, 1.01);
}
